

<div class="border">
    <div class="head_line">
      <div class="title">
          <h1 class="main right_align ">Lindsay</h1>
          <h1 class="main right_align">K.</h1>
          <h1 class="main right_align">Dages</h1>
      </div>
    </div>

  <div class="section projects">
    <div class="title">
      <h1>Projects</h1>
    </div>
    <div class="content">
      <% @projects.each do |project| %>
        <%= project.name %>
      <% end %>
    </div>
  </div>
  <div class="section tools">
    <div class="title">
      <h1>Tools</h1>
    </div>
    <div class="content">
      <% @tools.each do |tool| %>
        <%= tool.name %>
      <% end %>
    </div>
  </div>
  <!-- <div class="section examples">
    <div class="title">
      <h1>Example Code</h1>
    </div>
    <div class="content">
      <% @solutions.each do |solution| %>
        <%= solution.name %>
      <% end %>
    </div>
  </div>
  <div class="section how_to">
    <div class="title">
      <h1>How Tos</h1>
    </div>
    <div class="content">
      test
    </div>
  </div> -->
  <div class="contact">
    <div class="title">
      <h1 class="main left_align">Contact</h1>
    </div>
    <div class="content flex_contact">
      <i class="fa fa-linkedin fa-5x" aria-hidden="true"></i>
      <i class="fa fa-github fa-5x" aria-hidden="true"></i>
      <i class="fa fa-envelope-o fa-5x " aria-hidden="true"></i>
    </div>
  </div>

</div>
