<ul class="result">

</ul>

<div class="border">
  <div class="section">
    <div class="title">
        <h1>Lindsay Dages</h1>
    </div>
    <div class="content">
      test
    </div>
  </div>
  <div class="section">
    <div class="title">
      <h1>Projects</h1>
    </div>
    <div class="content">
      <% @projects.each do |project| %>
        <%= project.name %>
      <% end %>
    </div>
  </div>
  <div class="section">
    <div class="title">
      <h1>Tools</h1>
    </div>
    <div class="content">
      <% @tools.each do |tool| %>
        <%= tool.name %>
      <% end %>
    </div>
  </div>
  <div class="section">
    <div class="title">
      <h1>Example Code</h1>
    </div>
    <div class="content">
      <% @solutions.each do |solution| %>
        <%= solution.name %>
      <% end %>
    </div>
  </div>
  <div class="section">
    <div class="title">
      <h1>How Tos</h1>
    </div>
    <div class="content">
      test
    </div>
  </div>
  <div class="section">
    <div class="title">
      <h1>Contact</h1>
    </div>
    <div class="content">
      test
    </div>
  </div>

</div>
