<div class="border">
  <div class="head_line">
    <div class="title">
        <h1 class="main_size right_align ">Lindsay</h1>
        <h1 class="main_size right_align">K.</h1>
        <h1 class="main_size right_align">Dages</h1>
    </div>
  </div>
  <div class="section projects">
    <div class="content">
      <ul>
        <li>
          <a href="https://github.com/counterThreat/chess_app"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
          <a href="https://firehose-chess-app.herokuapp.com/">Counter Threat</a>
        </li>
        <li>
          <a href="https://github.com/lnzd17/grammable"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
          <a href="https://grammable-lindsay-dages.herokuapp.com/">Grammable</a>
        </li>
        <li>
          <a href="https://github.com/lnzd17/flixter"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
          <a href="https://flixter-lindsay-dages.herokuapp.com/">Flixter</a>
        </li>
        <li>
          <a href="https://github.com/lnzd17/todo"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
          <a href="https://todoster-lindsay-dages.herokuapp.com/">Todster</a>
        </li>
        <li>
          <a href="https://github.com/lnzd17/splurty"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
          <a href="https://splurty-lindsay-dages.herokuapp.com/">Splurty</a>
        </li>
        <li>
          <a href="https://github.com/lnzd17/nomster"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
          <a href="https://nomster-lindsay-dages.herokuapp.com/">Nomster</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="section tools">
    <div class="content tools_spacing">
      <i class="icon-ruby-on-rails fa-4x"></i>
      <i class="icon-javascript fa-4x"></i>
      <i class="icon-heroku fa-4x"></i>
      <i class="icon-postgres-alt fa-4x"></i>
      <i class="icon-css3 fa-4x"></i>
      <i class="icon-html5 fa-4x"></i>
    </div>
  </div>
</div>
<div class="contact">
  <div class="content flex_contact">
    <i class="fa fa-linkedin fa-5x" aria-hidden="true"></i>
    <i class="fa fa-github fa-5x" aria-hidden="true"></i>
    <i class="fa fa-envelope-o fa-5x " aria-hidden="true"></i>
  </div>
</div>
