// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome-sprockets";
@import "font-awesome";

ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-height: 300px;
  padding: 0px;
}

li{
  text-align: center;
  display: inline;
  margin: 25px;
}

a{
  text-decoration: none;
  color: #E4C220;
  margin: 5px;
}

a:hover{
  color: white;
}

.border{
  padding: 15px 150px;
}

.content{
  grid-area: content;
  font-family: 'Muli', sans-serif;
}

.title{
  font-family: 'Ovo', serif;
}

.section{
  margin-bottom: 50px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display:grid;
  grid-template-areas:
    "content";
}

.main_size{
  font-size: 150px;
  line-height: 50px;
}

.secondary_size{
  font-size: 100px;
}

.left_align{
  text-align: left;
}

.right_align{
  text-align: right;
}

.projects{
  background: #007E9E;
  color: #E4C220;
}

.tools{
  background: #E4C220;
  color:  #007E9E;
  font-size: 30px;
  text-align: center;
}

.flex_contact{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  color: #007E9E;
}
