// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome-sprockets";
@import "font-awesome";

h1{
  padding: 0px;
  margin: 0px;
}

.border{
  margin-left: auto;
  margin-right: auto;
  width: 915px;
  padding: 0px;
}

.content{
  font-family: 'Muli', sans-serif;
  padding: 50px;
  font-size: 1.5rem;
}

.section{
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 100%;
  text-align: center;
}

.secondary_size{
  font-size: 3rem;
  font-family: 'Ovo', serif;
}

.left_align{
  text-align: left;
}

.right_align{
  text-align: right;
}

.t_column{
  grid-area: t;
}

.p_column{
  grid-area: p;
}

.main_headline{
  grid-area: mh;
}

.sub_headline{
  grid-area: sh;
}

.row{
  display: grid;
  grid-template-columns: 450px 15px 450px;
  grid-template-areas:
  "mh . sh"
  "p . t";
}

// headline css

.main_size{
  font-size: 6rem;
  padding: 0px;
  margin: 0px;
  line-height: 6rem;
}

.title{
  font-family: 'Ovo', serif;
  margin-bottom: 15px;
}

.sub_title{
  height: 6rem;
  line-height: 8rem;
  font-size: 3rem;
  text-align: right;
}

// projects css

.projects{
  background: #007E9E;
  color: #E4C220;
}

ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-align: left;
}

li{
  margin: 0px;
  padding: 0px;
}

a{
  text-decoration: none;
  color: #E4C220;
  margin-right: 20px;
}

a:hover{
  color: white;
}

// Tools CSS
.tools{
  background: #E4C220;
  color:  #007E9E;
  text-align: center;
}

.white_icons{
  color: white;
}

i{
  padding:0px;
  margin: 0px;
}

.two_columns{
  column-count: 2;
  column-width: 100px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}


// contact css
.contact{
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.flex_contact{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex_contact a{
  color: rgba(0,0,0,0.5);
  margin: 0px;
}

.flex_contact a:hover{
  color: black;
}


/* flip css */

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
  -webkit-perspective: 1000px;
  margin-bottom: 25px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 450px;
  height: 400px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
  -webkit-transition: 0.6s;
	transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}


// media queries

@media (max-width: 600px){
  .row{
    display: grid;
    grid-template-rows: 150px 110px 1fr 15px 1fr;
    grid-template-columns: auto;
    grid-template-areas:
    "mh"
    "sh"
     "p"
     "."
     "t";
  }

  .flip-container, .front, .back {
  	width: 250px;
    height: 300px;
  }

  .border{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }

  .content{
    font-family: 'Muli', sans-serif;
    padding: 50px 20px;
    font-size: 1rem;
  }

  .main_size{
    font-size: 4rem;
    padding: 0px;
    margin: 0px;
    line-height: 4rem;
  }

  .title{
    font-family: 'Ovo', serif;
    margin-bottom: 0px;
  }

  .sub_title{
    height: auto;
    line-height: auto;
    font-size: 1.8rem;
    text-align: left;
    padding-top: 5px;
  }

  .two_columns{
    column-count: 2;
    column-width: 50px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }


}
